:root {
  /* //----- FONT VARIABLES -----// */
  --ff-headline: "Press Start 2P", cursive;
  --ff-base: "VT323", monospace;

  --fs-sm: 0.875rem;
  --fs-base: 1.2rem;
  --fs-md: 1.5rem;
  --fs-lg: 2rem;
  --fs-xl: 3rem;
  --fs-xxl: 4.5rem;

  --fw-normal: 400;
  --fw-bold: 700;

  /* //----- COLOR VARIABLES -----// */

  /* Hintergründe */
  --clr-bg-main: hsla(0, 0%, 12%, 1);
  --clr-bg-surface: hsla(0, 0%, 16%, 1);
  --clr-bg-shadow: hsla(0, 0%, 5%, 1);
  --clr-transparent-shadow: hsla(0, 0%, 5%, 0.7);

  /* Texte */
  --clr-text-main: hsla(0, 0%, 88%, 1);
  --clr-text-muted: hsla(0, 0%, 65%, 1);
  --clr-text-light: hsla(82, 39%, 74%, 1);

  /* Akzente (Header & Buttons) */
  --clr-accent: hsla(359, 82%, 63%, 1);
  --clr-accent-hover: hsla(359, 82%, 70%, 1);
  --clr-accent-shadow: hsla(359, 82%, 40%, 1);

  /* //----- GLOW VARIABLES -----// */
  --clr-glow-subtle: hsla(359, 82%, 63%, 0.1);
  --clr-glow-intense: hsla(359, 82%, 63%, 0.4);

  /* //----- SPACING VARIABLES -----// */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* //----- MAX-WIDTH VARIABLE -----// */
  --content-max-width: 90rem;
}

/* //----- Utility Classes -----// */

.d_none {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
  margin-right: 15px;
}

/* -- Flexbox Setup -- */
.utc_flex-dir-col {
  display: flex;
  flex-direction: column;
}

.utc_flex-dir-row {
  display: flex;
}

/* -- Flexbox: Gap -- */

.utc_flex-gap-sm {
  gap: var(--spacing-sm);
}
.utc_flex-gap-md {
  gap: var(--spacing-md);
}

/* -- Flexbox: Justify Content (Main Axis) -- */
.utc_flex-jc-start {
  justify-content: start;
}

.utc_flex-jc-end {
  justify-content: flex-end;
}
.utc_flex-jc-center {
  justify-content: center;
}
.utc_flex-jc-sbetween {
  justify-content: space-between;
}

.utc_flex-jc-around {
  justify-content: space-around;
}

.utc_flex-jc-evenly {
  justify-content: space-evenly;
}

/* -- Flexbox: Align Items (Cross Axis) -- */
.utc_flex-ai-start {
  align-items: flex-start;
}
.utc_flex-ai-center {
  align-items: center;
}
.utc_flex-ai-end {
  align-items: end;
}

.utc_flex-ai-sbetween {
  align-items: space-between;
}

/* ///////////////////////////////////////////////////////////////////// */

body {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-normal);

  color: var(--clr-text-main);
}

h1 {
  font-family: var(--ff-headline);
  font-size: var(--fs-xxl);
  font-weight: var(--fw-bold);

  color: var(--clr-text-light);
}

h2 {
  font-family: var(--ff-headline);
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);

  color: var(--clr-text-light);
}

h3 {
  font-family: var(--ff-headline);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);

  color: var(--clr-text-main);
}

.section-content-wrapper {
  max-width: var(--content-max-width);
  width: 100%;
  height: 100%;

  padding-inline: var(--spacing-lg);

  margin: 0 auto;
}

.btn {
  cursor: pointer;
  border: 0;

  height: var(--fs-xl);
  width: var(--fs-xl);

  background: none;

  background-image: url(../assets/icons/search-loupe.svg);
  background-size: cover;
}

.header-img {
  height: var(--fs-xxl);
}

.search-input {
  width: 15rem;
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  color: var(--clr-text-main);

  background-color: var(--clr-bg-main);
  border: 2px solid var(--clr-bg-surface);
  border-radius: var(--spacing-sm);

  background-image: url("../assets/icons/search-loupe.svg");
  background-repeat: no-repeat;

  background-size: var(--spacing-md);
  background-position: right var(--spacing-sm) center;

  padding-block: var(--spacing-sm);
  padding-left: var(--spacing-sm);

  padding-right: calc(var(--spacing-md) + var(--spacing-base));
}

.complete_header {
  height: 6rem;

  background-color: var(--clr-bg-main);
}

.complete_main {
  flex: 1;

  background-color: var(--clr-bg-surface);
}

.complete_footer {
  height: 6rem;

  background-color: var(--clr-bg-main);
}

.poke-grid-container {
  display: grid;
  gap: 2rem;

  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.load-more-btn {
  position: fixed;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--clr-accent);
  color: var(--clr-text-main);
  font-family: var(--ff-headline);
  font-size: var(--fs-sm);
  border: 2px solid var(--clr-bg-main);
  border-radius: 0.5rem;
  cursor: pointer;

  box-shadow: 0px 0px 30px var(--clr-bg-shadow);
}

.load-more-btn:hover {
  background-color: var(--clr-accent-hover);
}

.bottom-nav {
  position: relative;
  padding-block: var(--spacing-md);
  height: 6rem;
}

.load-more-btn:active {
  transform: translateX(calc(-50% + 1px)) translateY(1px);
  box-shadow: 0px 0px 0px var(--clr-bg-shadow);
}
